.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.col {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 5px;
}

.col2 {
  margin: auto;
  background-color: white;
}
