@import '../../../../commons/styles/colors';
@import '../../../../commons/styles/forms';

.amount {
  @include amount-input;
}

:global {
  .ant-select {
    width: 100%;
  }

  .year-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    label,
    .react-datepicker-wrapper {
      flex-basis: 49%;
    }
  }
}
