.container {
  text-align: center;
  margin: 1rem;

  .logo {
    font-size: 5rem;
  }

  :global {
    .ant-btn {
      margin-top: 1rem;
      width: 30%;
      text-transform: uppercase;
    }
  }
}
